<div class="container text-center">
  <h1>About Page</h1>
  <p>We are NickelDev. Our company focuses on creating an exclusive
  community for developers to reach large audiences of entrepreneurs.  </p>
</div>